.app{
  margin: 20px;
  display:flex;
  /* justify-content:center; */
  flex-direction: column;
}
.title{
  text-align: center;
  margin: 20px;
}
.num{
  margin: 10px 0;
}
.card{
  display:flex;
  justify-content: space-between;
}
/* .text{
  display:flex;
  align-items: center;
}
.btn1, .btn2{
  displaY:flex;
  justify-content: end;
  align-items: center;
} */